@inject IStringLocalizer<Header> Loc

<div class="inner">
    <h3 class="masthead-brand">@Loc["Save Load Compression Web"]</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">@Loc["Home"]</a>
        <a class="nav-link" href="https://blog.maki0419.com/2020/06/koikatu-save-load-compression.html" target="_blank">@Loc["Download"]</a>
        <a class="nav-link" href="https://blog.maki0419.com/" target="_blank">Blog</a>
    </nav>
</div>
